#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/
.vs/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

.nuget

*.vspx

########    ########    ########    ########    ########    ########    ########    ########    ########    ########    ########    ########

MyBuilds

/Data/web/*

*.xnb
UpgradeLog*.html
UpgradeLog*.htm
project.lock.json
/*.diff
*.csproj.bak

__Secrets.cs


/Source/GridDominance.UWP.Full/_pkginfo.txt
/Source/GridDominance.UWP.Full/AppPackages
/Source/GridDominance.UWP.Full/BundleArtifacts
*.pfx
*.lnk
