<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10310" android:versionName="1.3.10" package="com.blackforestbytes.griddominance.full" android:installLocation="auto">

	<uses-permission android:required="true" android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:required="true" android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:required="true" android:name="android.permission.INTERNET" />
	<uses-permission android:required="false" android:name="android.permission.BLUETOOTH" />
	<uses-permission android:required="false" android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:required="false" android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:required="false" android:name="android.permission.ACCESS_COARSE_LOCATION" />
	
	<uses-feature android:required="false" android:name="android.hardware.location" />
	<uses-feature android:required="false" android:name="android.hardware.location.gps" />
	
	<application android:label="Cannon Conquest" android:icon="@drawable/Icon"></application>
</manifest>