<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Android" version="3.8.1.303" targetFramework="monoandroid71" />
  <package id="MonoGame.Framework.WindowsDX" version="3.8.1.303" targetFramework="monoandroid71" />
  <package id="Plugin.BLE" version="1.3.0" targetFramework="monoandroid71" />
</packages>