
.infodiv {
  background: lightgray;
  margin: 5px;
  font-size: 32px;
  display:inline-flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  
  border: 1px dashed black;
}

#rootbox {
  margin: 32px;
}

.infocontainer {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  padding-top: 64px;
  text-align: center;
}

.sqltab {
  align-self: center;
}

.tab_prev {
  visibility: collapse;
}

.sqltab td {
  max-width: 128px;
  word-wrap: break-word;
}

body {
  text-align: center;
}

.tablebox {
  text-align: left;
  display: flex;
  justify-content: center;
}


a:visited { color: blue; } 

h1 a { color: black; text-decoration: none; } 
h1 a:visited { color: black; text-decoration: none; } 
h1 a:hover { color: blue; text-decoration: underline; } 
